body {background-image:url('../image/bg7.jpg');
	 background-size: 1600px;
		background-attachment: fixed;
	}
	
.formbox{
	background-color: white;
	margin: auto;
	z-index: 1;
	width: 500px;
	padding-right: 80px;
	padding-left:80px;
	padding-top: 80px;
	padding-bottom: 80px;
	}

.signature{
	text-align: center;
	font-size: 20px;
	}