

.body{
	width: auto;
    margin: 0.01cm 0.01cm 0.01cm 0.01cm;
	}
	



.dropmenu{
	position: fixed;
	top: 0px;
	
	}

.jumbotron {
	background-image:url('../image/background1.jpg');
	 background-size: 1000px;
	background-attachment: fixed;
	min-height: 400px;
	margin-bottom: 0px;
	}		
	
	
.firstcover{
		text-align: center;
	}
.smackfont{
	font-family: Big Caslon;
	font-style: bold;
	font-weight: 900;
	font-size: 90px;
	text-shadow: 0 0 20px white, 0 0 40px white;

	}
	
@media screen and (max-width: 480px) {
.smackfont{
	font-weight: 900;
	font-size: 50px;

		}
	}	

#slogan{
	font-style: italic;
	font-weight: 1000;
	font-size: 30px;
	text-shadow: 0 0 1px black, 0 0 1px black,0 0 20px white, 0 0 40px white ;
	
	}
img.arrow {
	width: 80px;
	position: relative; 
	left: 45%;
	z-index: 5;
	}
/*	
.arrow{
   position: absolute; 
  position: relative;
  z-index: 15;
  top: 50px;
  align: middle;
margin: -100px 0 0 -150px;
	}
*/

.ableft{
	margin-left: -2cm; 
	
	}

.abouthead{
	position: static;
	z-index: 15;
	top: -300px;
	left: 47%;
	
	}	

img.smackage{
	width: 100%;
	}	
	

	
.absubhead{
	
}
	
.aboutsect{
	
	}

.servsect{
	
	}
	
.prodsect{
	
	}
.teamsect{
	
	}
	
