

.body{
	
	}

.jumbotron {
	background-image:url('../image/background1.jpg');
	 background-size: 1000px;
	background-attachment: fixed;
	min-height: 400px;
	margin-bottom: 0px;
	}	



.dropmenu{
	
	}

.firstcover{
		text-align: center;
	}
.smackfont{
	font-family: Big Caslon;
	font-style: bold;
	font-weight: 900;
	font-size: 90px;
	text-shadow: 0 0 20px white, 0 0 40px white;

	}
	
#slogan{
	font-style: italic;
	font-weight: 1000;
	font-size: 30px;
	text-shadow: 0 0 1px black, 0 0 1px black,0 0 20px white, 0 0 40px white ;
	

	}
	
.arrow{
   position: absolute;
  z-index: 15;
  top: 43%;
  left: 45%;
  /*margin: -100px 0 0 -150px;*/
	}


.aboutsect{
	
	}

.servsect{
	
	}
	
.prodsect{
	
	}
.teamsect{
	
	}
