

.body{
	
	}

.jumbotron {
	background-image:url('../image/background1.jpg');
	background-attachment: fixed;
	min-height: 500px;
	margin-bottom: 0px;
}	
	

.dropmenu{
	
	}

.firstcover{
		text-align: center;
	}

.aboutsect{
	
	}

.servsect{
	
	}
	
.prodsect{
	
	}
.teamsect{
	
	}
